* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.header-Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 25px;
}

#profilePic-Header {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  margin-right: 15px;
  margin-top: 5px;
}

.textHeader-Header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.welcomeMesage-Header,
.realTimeHeader-Header {
  font-size: 10px;
  color: #40c4cc;
}

.userName-Header {
  display: flex;
  font-size: 14px;
  color: #40c4cc;
  font-weight: bold;
}

.headerGroup {
  display: flex;
  justify-content: right;
}
