* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.inputs-Global {
  position: relative;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  border: 1px solid #0a0a0a52;
  margin-top: 15px;
  border-radius: 10px;
}

.giantTitle-Global {
  font-size: 40px;
  color: #23b39b80;
  letter-spacing: 2px;
}

.titles-Global {
  text-align: left;
  font-size: 14px;
  color: #23b39b;
  margin-top: 10px;
}

.button-Global {
  background-color: #3cac97;
  color: white;
  font-size: 12px;
  box-shadow: none;
  width: 100%;
  height: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: none;
}

.buttonBack-Global {
  background-color: #dbf3f3;
  color: #4ca494;
  font-size: 12px;
  box-shadow: none;
  width: 100%;
  height: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: none;
}

.buttonAtt-Global {
  background-color: #ffc10796;
  color: #ffffff;
  font-size: 12px;
  box-shadow: none;
  width: 100%;
  height: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: none;
}

.uls-Global {
  border: #24bc9e;
  margin: 0;
  margin-top: 20px;
  border: 1px solid #0a0a0a31;
  border-radius: 10px;
  padding: 10px;
}

.lis-Global {
  text-align: left;
  font-size: 14px;
  color: #23b39b;
  border-bottom: 0.5px solid #0a0a0a1c;
  list-style: none;
  padding: 10px;
}
