* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.body-Login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: hsl(0, 0%, 100%);
  width: 100%;
  height: 100vh;
}

.login-container {
  position: relative;
  border-radius: 8px;
  background-color: #fff;
  border: none;
  width: 40vh;
  max-width: 500px;
  justify-content: space-around;
}

.login-container input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border: 4px;
  height: 30px;
}

.login-container a {
  text-decoration: none;
}

#logina1 {
  text-align: right;
  font-size: 14px;
  color: #23b39b;
}

#logina2 {
  font-size: 14px;
}

#logina3 {
  font-size: 14px;
  color: #23b39b;
  margin-left: 5px;
}

.signup-links {
  display: flex;
  justify-content: center;
  text-align: left;
  margin-top: 10px;
}

#imgLogoRecep10-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#imgLogoRecep10 {
  max-width: 200px;
  max-height: 300px;
}

#login {
  font-size: 20px !important;
  text-align: left !important;
}

#loginlabel {
  font-size: 16px;
}

#loginh2 {
  text-align: left !important;
}

#loginform {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  border-radius: 5px;
}

.inputgroup {
  position: relative;
}

.inputgroup input {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  border: 1px solid #04aa6d;
  margin-top: 10px;
}

.placeholder {
  position: absolute;
  top: 18px;
  left: 8px;
  font-size: 14px;
  padding: 0 5px;
  color: #b3b3b3;
  pointer-events: none;
  transition: top 0.3s ease-in-out;
}

.inputgroup input:focus + .placeholder {
  top: 0;
  background-color: #fff;
}

.inputgrou input:not(:placeholder-shown) + .placeholder, .inputgroup input:not(:placeholder-shown) + .placeholder {
  display: none;
  top: 0;
  background-color: #fff;
}

.login-container input {
  padding: 18px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

button {
  padding: 10px;
  background-color: #23b79d;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 80px;
}

.error {
  border: 1px solid red;
}

.error-message {
  color: red;
  margin-top: 5px;
  font-size: 10px;
}