* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.main-Login {
  width: 80%;
}

.top-Section-Login {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.body-Login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: hsl(0, 0%, 100%);
  width: 100%;
  height: 100vh;
}

#links-Login {
  text-align: right;
  font-size: 14px;
  color: #40c4cc;
  text-decoration: none;
}

#texts-Login {
  font-size: small;
}

.signupLinks-Login {
  display: inline-block;
  width: 100%;
}

#buttonSignup-Login {
  display: block;
  margin-bottom: 5px;
  padding: 10px;
  background-color: #40c4cc;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 80px;
  width: 100%;
}

#texts-Login,
#links-Login {
  display: inline-block;
  margin-right: 5px;
}

#imgLogoRecep10-Login {
  max-width: 200px;
  max-height: 300px;
}

#title-Login {
  text-align: left;
  color: #40c4cc;
}

#form-Login {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  border-radius: 5px;
}

.inputs-Login input {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  border: 1px solid #0a0a0a52;
  margin-top: 15px;
  border-radius: 10px;
}

.error {
  border: 1px solid red;
}

.error-message {
  color: red;
  margin-top: 5px;
  font-size: 10px;
}

.bot-Section-Login {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.top-Section-Login {
  margin-bottom: 80px;
  width: 100%;
}
