/* .content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: 470px;
  z-index: 2;
}

.content button {
  width: 150px;
  height: 50px;
  outline: none;
  border: solid 1px #ffffff;
  font-size: 17px;
  letter-spacing: 2px;
  border-radius: 30px;
  color: white;
  background: rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}

.content button:hover {
  cursor: pointer;
  background-color: white;
  color: rgb(94, 94, 94);
} */

/* dialog {
    overflow: hidden;
    justify-content: center;
    align-items: center;
    height: 170px;
    width: 250px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    box-shadow: 0px 0px 10px rgba(131, 129, 121, 0.5);
    background: rgba(214, 214, 214, 0.8);
} */

/* dialog::backdrop {
  background-color: rgb(0 0 0 / 0.5);
  animation: fadein 0.3s ease-in-out;
}

.content dialog[open] {
  animation: fadein 0.3s ease-in-out;
  opacity: 1;
}

.form {
  display: flex;
  justify-content: center;
}

.form h1 {
  font-size: 20px;
  letter-spacing: 2px;
  color: rgb(255, 255, 255);
  font-weight: 400 !important;
}

.login {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.login input {
  outline: none;
  border: none;
  padding: 3px;
}

.close {
  width: 25px;
  position: absolute;
  top: 10px;
  right: 10px;
}
.close:hover {
  cursor: pointer;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
} */
