.content {
    width: 100%;
    height: 100vh;
}

.geral h1{
    margin: 0;
    padding: 0;
}

.navbar {
    position: absolute;
    width: 100%;
    height: 30px;
    background-color:#1b1e33;
}

.faixa{
    position: absolute;
    width: 100%;
    height: 10px;
    top: 135px;
    background-color:#1b1e33;
}

.card {
    top: 30%;
    cursor: pointer;
    justify-content: center;
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 35px;
    max-height: 50px;
    width: auto;
    height: auto;
    margin: 0 50px 0 50px;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.15);
}

.card p {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    list-style: none;
    color: white;
    font-size: 2dvh;
    letter-spacing: 2px;
    font-weight: bold;
    margin-top: 8px;
    text-align: center;
}

.dashboard{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 30px;
    width: 100%;
    height: 110px;
    background-color: #393f65;

}

.register{
    position: absolute;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 0;
    top: 190px;
    width: 400px;
    height: 580px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
}

.register2{
    position: absolute;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 0;
    top: 150px;
    width: 500px;
    height: 300px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
}

.data{
    position: absolute;
    top: 120px;
    right: 170px;
}

.register input{
    width: 350px;
    line-height: 2;
}

.formulario{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.formulario2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
}

.formulario2 select{
    width: 350px;
    height: 33px;
}

.formulario2 h1{
    position: absolute;
    top: 40px;
    margin-bottom: 10px;
    color: rgb(27, 27, 41);
}

.formulario select{
    width: 350px;
    height: 33px;
}

.formulario h1{
    position: absolute;
    top: 0;
    margin-bottom: 10px;
    color: rgb(27, 27, 41);
}

.btns{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 10px;
}

.btns button{
    height: 40px;
    width: 160px;
    border: none;
    margin: 15px;
}

.btnback{
    background-color: rgb(91, 91, 134);
    color: white;
    font-size: 14px;
}

.btnback:hover{
    cursor: pointer;
    color: rgb(14, 0, 65);
    background-color: rgb(50, 148, 205);
    transition: 0.3s;
}

.btnregister{
    background-color: rgb(118, 158, 87) ;
    color: white;
    font-size: 14px;
    transition: 0.3s;
}

.btnregister:hover{
    cursor: pointer;
    color: rgb(0, 65, 0);
    background-color: yellowgreen;
}

.body {
    background-color: #2b2f4c;
    height: 100%;
    width: 100%;
}

h1 {
    color: rgba(255, 255, 255, 0.4);
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    font-size: 62px;
    margin: auto;
}

h2 {
    margin: auto;
    color: rgba(255, 255, 255, 0.7);
    position: relative;
    text-align: center;
    top: 50%;
    font-size: larger;
    transform: translateY(-50%);
}