.visitantes {
    background-color: #2bff00;
    position: absolute;
    top: 100px;
    width: 100%;
    height: 550px;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.visitantes::backdrop {
    background-color: #ffffff;
    max-height: 90%;
    transition: backdrop-filter 0s ease-in-out;
}

.visitante2 {
    position: relative !important;
}

.visitantes h1 {
    justify-content: center;
    position: absolute;
    color: #ff00b3;
    font-size: 50px;
    top: 10px;
    margin-top: 10px;
}
.visitantes h2 {
    top: 70px;
    right: 220px;
    position: absolute;
    color: #24bc9e67;
    font-size: 50px;
}

.quadro {
    justify-content: center; 
    position: absolute;
    width: 48%;
    height: 90%;
    background-color: rgb(0, 17, 255);
    border-radius: 10px;
    overflow-y: scroll;
    padding: 10px;
    left: 10px;
    top: 50px;
}

.quadro2 {
    visibility: hidden;
    justify-content: center;
    position: static;
    width: 100%;
    height: 90%;
    background-color: rgb(255, 0, 0);
    border-radius: 10px;
    padding: 10px;
    right: 0;
    top: 50px;
    left: auto;
}

.quadro2 input {
    display: flex;
    width: 45%;
    margin-bottom: 8px;
    margin-left: 8px;
}

.quadro2 select {
    color: black;
    margin-left: 8px;
    margin-bottom: 8px;
    width: 92%;
}

.btnalt {
    background-color: #fff599;
    color: rgba(0, 0, 0, 0.815);
    font-size: 12px;
    border-radius: 20px;
    box-shadow: none;
    margin-left: 5px;
    font-weight: bolder;
}

.btnexc {
    background-color: #ff9999;
    color: rgba(0, 0, 0, 0.815);
    font-size: 12px;
    border-radius: 20px;
    box-shadow: none;
    margin-left: 5px;
    font-weight: bolder;
}

.btnatt {
    background-color: #24bc9e ;
    color: rgba(0, 0, 0, 0.815);
    font-size: 12px;
    transition: 0.3s;
    border-radius: 20px;
    box-shadow: none;    
    margin-left: 5px;
    font-weight: bolder;
    width: 100px;
}

.btns {
    display: flex;
    justify-content: center;
}

.visitantes p {
    color: rgb(255, 255, 255);
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #3e3f5c;
    border-radius: 10px;
    transition: 0.3s;
}

.visitantes p:hover {
    background-color: #5d5f86;
}

.quadro li {
    color: black;
}

.quadro .nomes p {
    display: flex;
    justify-content: center;
}

::-webkit-scrollbar-thumb {
    background-color: #949de9;
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 10px;
}

.nomes {
    max-height: 350px;
}

.nomes:hover {
    cursor: pointer;
}

.fechar {
    color: #075a49da;
    position: absolute;
    top: -10px;
    right: 0;
    width: 40px;
    transition: 0.3s;
    font-size: 36px;
}

.fechar:hover {
    cursor: pointer;
    transform: scale(0.9);
}

@media (max-width: 430px) {
    .visitantes {
        background-color: #2bff00;
        position: absolute;
        width: 100%;
        height: 80%;
        box-shadow: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .visitantes h1 {
        margin: 4%;
        left: 20%;
    }

    .quadro {
        width: 95%;
        position: absolute;
    }

    .quadro2 {
      position: absolute;
      justify-content: center;
      background-color: rgb(255, 0, 0);
      width: 95%;
      height: 90%;
      border-radius: 10px;
      padding: 10px;
    }

    .quadro2.active {
        position: absolute;
        z-index: 2;
    }

    .btnalt,
    .btnexc,
    .btnatt {
        position: absolute;
        bottom: 0;
        transform: translateX(-50%);
    }

    .btnalt {
        left: calc(50% - 120px);
    }
    
    .btnexc {
        left: 50%;
    }
    
    .btnatt {
        left: calc(50% + 120px);
    }
  }