.visitantes {
  background-color: #2bff00;
  position: absolute;
  top: -100px;
  width: 100%;
  height: 80%;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.visitantes::backdrop {
  background-color: #ffffff;
  max-height: 90%;
  transition: backdrop-filter 0s ease-in-out;
}

.visitante2 {
  position: relative !important;
}

.visitantes h1 {
  justify-content: center;
  position: absolute;
  color: #ff00b3;
  font-size: 50px;
  top: 10px;
  margin-top: 10px;
}
.visitantes h2 {
  top: 70px;
  right: 220px;
  position: absolute;
  color: #24bc9e67;
  font-size: 50px;
}

.btnalt {
  position: absolute;
  background-color: #fff599;
  color: rgba(0, 0, 0, 0.815);
  font-size: 12px;
  border-radius: 20px;
  box-shadow: none;
  margin-left: 5px;
  font-weight: bolder;
  bottom: 10px;
  width: 30%;
}

.btnexc {
  position: absolute;
  background-color: #ff9999;
  color: rgba(0, 0, 0, 0.815);
  font-size: 12px;
  border-radius: 20px;
  box-shadow: none;
  margin-left: 5px;
  font-weight: bolder;
  bottom: 10px;
  width: 30%;
}

.btnatt {
  position: absolute;
  background-color: #24bc9e;
  color: rgba(0, 0, 0, 0.815);
  font-size: 12px;
  transition: 0.3s;
  border-radius: 20px;
  box-shadow: none;
  margin-left: 5px;
  font-weight: bolder;
  width: 100px;
  bottom: 10px;
  width: 30%;
}

.visitantes p {
  color: rgb(255, 255, 255);
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #3e3f5c;
  border-radius: 10px;
  transition: 0.3s;
}

.visitantes p:hover {
  background-color: #5d5f86;
}

.quadro .nomes p {
  display: flex;
  justify-content: center;
}

.nomes {
  max-height: 350px;
}

.nomes:hover {
  cursor: pointer;
}

.fechar {
  color: #075a49da;
  position: absolute;
  top: -10px;
  right: 0;
  width: 40px;
  transition: 0.3s;
  font-size: 36px;
}

.fechar:hover {
  cursor: pointer;
  transform: scale(0.9);
}

@media (max-width: 430px) {
  .visitantes {
    background-color: #2bff0000;
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .visitantes ul {
    border: #24bc9e;
    margin: 20px;
    box-shadow: 0 0 10px #178b74a2;
    border-radius: 15px;
    padding: 10px;
  }

  .visitantes li {
    color: #24bc9e;
    letter-spacing: 2px;
  }

  .btns {
    width: 100%;
    left: 0;
  }

  .btnalt,
  .btnexc,
  .btnatt {
    position: absolute;
    bottom: 150px;
    width: calc(33.33% - 10px);
  }

  .visitantes h2 {
    top: 0;
  }

  .btnalt {
    left: 0;
    background-color: #fff599;
    color: rgb(255, 255, 255);
    font-size: 12px;
    border-radius: 5px;
    box-shadow: none;
    margin-left: 5px;
  }

  .btnexc {
    left: calc(33.33%);
    background-color: #ff9999;
    color: rgb(255, 255, 255);
    font-size: 12px;
    border-radius: 5px;
    box-shadow: none;
    margin-left: 5px;
  }

  .btnatt {
    left: calc(66.66%);
    background-color: #24bc9e;
    color: rgb(255, 255, 255);
    font-size: 12px;
    transition: 0.3s;
    border-radius: 5px;
    box-shadow: none;
    margin-left: 5px;
    width: 120px;
  }
}
